@import '~materialize-css/dist/css/materialize.min.css';

* {
  box-sizing: border-box !important;
}

.hello-card-action {
  display: flex;
  padding: 10px 0px !important;
  align-items: center;
}

#hello-action-link-left {
  width: 50%;
  margin: 0px 10px 0px 20px !important;
}

#hello-action-link-right {
  width: 50%;
  margin: 0px 20px 0px 10px !important;
}

.hello-card-action > * > button {
  width: 100%;
}

.bad-input {
  border-bottom-color: rgb(244, 67, 54) !important;
  border-width: 2px !important;
  box-shadow: rgb(244, 67, 54) 0px 1px 0px 0px !important;
}

.bad-input:focus + label {
  color: rgb(244, 67, 54) !important;
}

#copy-link-input {
  margin: 0;
}

#copy-link-button {
  padding: 0;
}

#copy-link-button > i {
  margin-left: 10px;
  margin-right: 10px;
}

#preloader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
